/* About.css */

/* Apply a CSS reset specifically within about-container to avoid affecting other elements */
.about-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This assumes .about-container is a direct child of a full-page element */
.about-container {
  display: flex;
  align-items: center; /* Vertically align items in the container */
  justify-content: center; /* Horizontally center the content */
  gap: 20px; /* Space between text and image */
  padding: 50px; /* Padding around the entire container */
  min-height: calc(
    100vh - 100px
  ); /* Adjust based on padding to fill screen, but not extend */
  box-sizing: border-box;
}

.about-text {
  flex: 1; /* Allows the text section to grow and fill the space */
  max-width: 600px; /* Maximum width of the text section */
}

.about-image {
  flex: 1; /* Allows the image section to grow and fill the space */
  display: flex;
  justify-content: center; /* Center the image within the section */
}

.about-image img {
  width: 100%; /* Make the image responsive */
  max-width: 500px; /* Maximum width of the image */
  height: auto; /* Maintain aspect ratio */
}

/* Title styling */
.title {
  font-size: 2.5rem; /* Adjust the font size as needed */
  color: #ffffff; /* Set the title color to white */
  font-weight: bold; /* Make the title bold */
  line-height: 1.2; /* Adjust the line height for better spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Stack the items vertically on small screens */
    min-height: auto; /* Adjust min-height for smaller screens */
  }
}

.lead {
  background-color: #369339; /* A shade of green */
  border-radius: 15px; /* Adjust for rounded corners */
  padding: 20px; /* Space inside the background area */
  color: white;
}
/* About.css */
.green-background {
  background-image: linear-gradient(
    to right,
    #246a28,
    #66bb6a
  ); /* Green linear gradient */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Padding inside */
  color: white; /* Text color for better contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.green-background:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover for a subtle effect */
}

/* Additional text styling for better readability */
.green-background .lead {
  font-weight: 500; /* Slightly bolder than normal for emphasis */
  line-height: 1.6; /* Increased line height for better readability */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth and contrast */
}
