/* ProductsList.css */

.card-title a,
.card-text a {
  text-decoration: none;
}


.card-custom {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  overflow: hidden;
  border: 1px solid #5d5d5d; 
  border-radius: 8px;
}


.card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}


.card-img-top {
  width: 100%;
  height: 300px; 
  object-fit: cover;
}


.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem; 
}


.card-title {
  transition: color 0.3s ease;
  color: #212529;
  margin-bottom: 0;
}


.card-custom:hover .card-title {
  color: #198754; 
}


.card-text {
  transition: color 0.3s ease;
  color: #6c757d; 
}


.card-custom:hover .card-text {
  color: #495057; 
}
