.App {
  margin-top: 50px; /*this is what causing the gap at top */
  background-image: url("./assets/img/aaq3.jpg");
  color: white;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
  font-family: "GT Flexa", sans-serif;
}

/* App.css */
.banner-search-container {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App.css */
.app-content {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "GT Flexa";
  src: url("./assets/fonts/GT-Flexa-Trial-VF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Add this to your CSS file */
.white-text-button {
  color: #fff !important; /* Ensures overriding any other color styles */
  border-color: #fff !important; /* Ensures border color is white */
}
