/* NavBar.css */
.navbar {
  background-color: rgb(255, 255, 255);
  position: fixed; /* Fixed position */
  top: 0; /* Aligns the navbar to the top of the viewport */
  left: 0; /* Aligns the navbar to the left edge of the viewport */
  width: 100%; /* Ensures the navbar spans the full width */
  z-index: 1000; /* Ensure the navbar is above other content */
  border: 1px solid #000; /* Example black border */
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  order: 2; /* Moves the logo to the right */
  padding-left: 20px; /* Adjust based on your preference */
}

.navbar-nav {
  order: 1;
  flex-grow: 1;
}

.navbar-brand img {
  height: 50px; /* Resize the logo */
  width: auto;
}

.navbar-link {
  margin: 0 10px; /* Adds margin to the left and right */
}

.navbar-toggler {
  background-color: transparent; /* Makes the button background transparent */
  border: none; /* Removes the border */
}

/* To hide the button */
.navbar-toggler {
  display: none; /* Hides the toggle button */
}
