/* NavBar.css */
.navbar {
  background-color: #faf5ed;
  position: fixed; /* Fixed position */
  top: 0; /* Aligns the navbar to the top of the viewport */
  left: 0; /* Aligns the navbar to the left edge of the viewport */
  width: 100%; /* Ensures the navbar spans the full width */
  z-index: 1; /* Ensure the navbar is above other content */
  border: 1px solid #000; /* Example black border */
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-nav {
  order: 1;
  flex-grow: 1;
  position: relative; /* Add relative positioning to the navbar links container */
}

.navbar-brand img {
  height: 50px; /* Resize the logo */
  width: auto;
}

.navbar-link {
  margin: 0 10px; /* Adds margin to the left and right */
  position: relative; /* Add relative positioning to the navbar links */
}

/* Add line animation */
.navbar-link::before {
  content: ""; /* Empty content for the pseudo-element */
  position: absolute; /* Absolute positioning */
  bottom: -2px; /* Position the line below the link */
  left: 0; /* Align the line to the left edge of the link */
  width: 0; /* Initially set the width to 0 */
  height: 2px; /* Set the height of the line */
  background-color: #198754; /* Color of the line */
  transition: width 0.3s ease; /* Add transition for smooth animation */
}

/* Add hover effect */
.navbar-link:hover::before {
  width: 100%; /* Expand the width of the line on hover */
}

.navbar-toggler {
  background-color: transparent; /* Makes the button background transparent */
  border: none; /* Removes the border */
}

/* To hide the button */
.navbar-toggler {
  display: none; /* Hides the toggle button */
}

.login-link {
  margin-left: auto; /* Push the login link to the right */
  padding: 0.5rem 1rem;
  background-color: #198754;
  color: #fff;
  border-radius: 5px;
}

.login-link:hover {
  background-color: #145c32;
  color: #fff;
}